.player-info__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: none;

    .player-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 90%;
        height: 80%;
        background-color: #fff;
        border-radius: 12px;

        .player{
            display: flex;
            align-items: flex-end;
            width: 80%;
            height: 20%;
            padding-left: 16px;
            padding-bottom: 16px;
            background-color: #ff000020;
            background-size: cover;
            border-radius: 8px;
            font-family: "Oswald", 'Noto Sans KR', sans-serif;
            font-size: 24px;
            color: #fff;
        }
    }
}
.midfielder{
    .player-info{height: 85% !important;}
    .player{height: 15% !important;}
}
.defender{
    .player-info{height: 85% !important;}
    .player{height: 15% !important;}
}
.goalkeeper{
    .player{height: 43% !important;}
}

.rashford{background: url(../../images/rashford-btn.jpg) no-repeat center;}
.hojlund{background: url(../../images/hojlund-btn.jpg) no-repeat 0px -60px;}
.garnacho{background: url(../../images/garnacho-btn.jpg) no-repeat center;}
.anthony{background: url(../../images/antony-btn.jpg) no-repeat 0px -60px;}
.bruno{background: url(../../images/fernandes-btn.jpg) no-repeat 50% 0%;}
.casemiro{background: url(../../images/casemiro-btn.jpg) no-repeat ;}
.mount{background: url(../../images/mount-btn.jpg) no-repeat ;}
.mainoo{background: url(../../images/mainoo-btn.jpg) no-repeat 50% 68%;}
.mctominay{background: url(../../images/mcTominay-btn.jpg) no-repeat 50% 9%;}
.martinez{background: url(../../images/martinez-btn.jpg) no-repeat 50% 9%;}
.maguire{background: url(../../images/maguire-btn.jpg) no-repeat 50% 9%;}
.dalot{background: url(../../images/dalot-btn.jpg) no-repeat 50% 9%;}
.bissaka{background: url(../../images/bissaka-btn.jpg) no-repeat 50% 9%;}
.shaw{background: url(../../images/shaw-btn.jpg) no-repeat 50% 64%;}
.onana{background: url(../../images/onana-btn.jpg) no-repeat 50% 0%;}
.bayindir{background: url(../../images/bayindir-btn.jpg) no-repeat 50% 17%;}